<!DOCTYPE html>
<html>
<head>
  <title>Blogfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
      <div class="row">
        <%= render partial: "nav/nav_buttons" %>
      </div>
      <div class="row main-row">
        <div class="small-4 columns" style="padding: 0;">
          <%= render partial: "nav/side_bar" %>
        </div>
        <div class="small-8 columns main-content" style="padding: 0;">
          <%= yield %>
        </div>
      </div>
  </div>

</body>
</html>
